<div class="bloco1">
    <p style="color: rgb(255, 118, 0);">.</p>
    <div class="container text-center img_bloco1">
        <div class="row align-items-cente">
            <div class="col">
                <img src="../../assets/img/cientifica.png">
            </div>
            <div class="col">
                <img src="../../assets/img/projetos.png">
            </div>
            <div class="col">
                <img src="../../assets/img/eventos.png">
            </div>
        </div>
    </div>
</div>
<div class="bloco2 text-center ">
    <h1>Encontro de iniciação científica </h1>
    <br><br>
    <p>Esses encontros têm o objetivo de proporcionar um espaço para a divulgação e discussão dos resultados das
        pesquisas realizadas<br> pelos estudantes, promovendo a troca de conhecimentos e experiências entre os
        participantes.
        Os encontros de iniciação científica são <br>importantes para estimular o interesse dos estudantes pela
        pesquisa,
        desenvolver habilidades acadêmicas e científicas, e contribuir <br>para a formação de futuros pesquisadores.
        Eles
        também proporcionam uma oportunidade para a comunidade acadêmica e científica <br>conhecer e discutir as
        contribuições dos estudantes para a produção de conhecimento em diversas áreas.</p>
    <br><br>
    <div class="container text-center img">
        <div class="row align-items-start">
            <div class="col-4">
                <img src="../../assets/img/1 9.png">
            </div>
            <div class="col-4">
                <img src="../../assets/img/1 9.png">
            </div>
            <div class="col-4">
                <img src="../../assets/img/1 9.png">
            </div>
        </div>
    </div>
</div>
<div class="bloco3">
    <br><br>
    <h1 class="text-center">Projetos</h1>
    <p class="text-center">Gran proporciona uma variedade grande de projetos. Confiram os principais:</p>
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-4">
                <img src="../../assets/img/café 1.png">
            </div>
            <div class="col-4">
                <img src="../../assets/img/PodCats 1.png">
            </div>
            <div class="col-4">
                <img src="../../assets/img/Empreendedor 1.png">
            </div>
        </div>
    </div>
</div>
<div class="bloco4">
    <h1 class="bloco2 text-center">Eventos</h1>
</div>