<div class="box">
    <div class="text-center">
        <h1>INFRAESTRUTURA</h1>
        <p>Temos uma infraestrutura completa esperando por você. Faça-nos uma visita e confira.</p>

    </div>

    <div class="container text-center grade">
        <div class="row align-items-center">
            <div class="col-4">
                <img src="../../assets/img/projects-1 1.png" alt="">
            </div>
            <div class="col-4">
                <img src="../../assets/img/projects-1_ 1.png" alt="">
            </div>
            <div class="col-4">
                <img src="../../assets/img/projects-25 1.png" alt="">
            </div>
        </div>
    </div>
    <div class="container text-center grade">
        <div class="row align-items-end">
            <div class="col-4">
                <img src="../../assets/img/projects-33 4.png" alt="">
            </div>
            <div class="col-4">
                <img src="../../assets/img/projects-333 1.png" alt="">
            </div>
            <div class="col-4">
                <img src="../../assets/img/projects-3_5 1.png" alt="">
            </div>
        </div>
    </div>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.2743414887605!2d-48.560440624924766!3d-22.49388787954791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c74587919a864b%3A0xffd29c4a24abbce8!2sGran%20Tiet%C3%AA!5e0!3m2!1spt-BR!2sbr!4v1709477575832!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
</div>