  <!-- Bloco 1 -->
  <div id="bloco1" class="row">
    <div class="col-12"><img src="/assets/img/banner.jpg" class="img-fluid img1" alt="banner"></div>
  </div>
  <!-- Bloco 2 -->
  <div class="container bloco2">
    <div class="row">
      <div class="col-12">
        <h1 class="mx-auto">VEM PARA A</h1>
        <h1 class="mx-auto" id="orange_color">GRAN</h1>
      </div>
      <div class="col-md-6 col-sm-12 ">
        <p>A Gran é uma faculdade que atende à toda nossa região, atendendo alunos de Barra Bonita e região <br>que não
          precisam mais se deslocar até grandes cidades para ter uma educação superior de qualidade.<br><br>
          Estabelecendo sempre como missão propiciar ao universitário uma educação
          superior de qualidade <br>por meio da construção crítica e criativa do conhecimento, fundamentada na
          pluralidade
          de ideias,<br> respeito às diferenças étnicas, sociais e de gênero, propiciando a inserção na vida da
          comunidade
          e na cidadania plena.</p>
        <button type="button" class="btn btn-info ">SAIBA MAIS</button>
      </div>
      <div class="col-md-6 col-sm-12"><img src="../assets/img/image 1.png" class="img-fluid img2" alt="banner"></div>
    </div>
  </div>  
  <!-- Bloco 3 -->
  <div class="bloco3">
    <div class="row">
      <div class="col-12">
        <br><br>
        <h1 class="mx-auto">CONHEÇA NOSSOS</h1>
        <h1 class="mx-auto" id="orange_color">CURSOS</h1>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="d-flex justify-content-evenly" style="margin-left: 15%; width: 120;">
          <div class="container text-center">
            <div class="row">
              <div class="col cursos">Administração</div>
              <div class="col cursos">Engenharia Agronômica</div>
            </div>
            <div class="row">
              <div class="col cursos">Arquitetura e urbanismo</div>
              <div class="col cursos">Engenharia Civil</div>
            </div>
            <div class="row">
              <div class="col cursos">Ciências Contábeis</div>
              <div class="col cursos">Engenharia de Produção</div>
            </div>
            <div class="row">
              <div class="col cursos">Educação Física</div>
              <div class="col cursos">Engenharia Mecânica</div>
            </div>
            <div class="row">
              <div class="col cursos">Enfermagem</div>
              <div class="col cursos">Engenharia de Computação</div>
            </div>
            <div class="row">
              <div class="col cursos">Farmácia</div>
              <div class="col cursos">Psicologia</div>
            </div>
            <div class="row">
              <div class="col cursos">Nutrição</div>
              <div class="col cursos">Pedagogia</div>
            </div>
            <div class="row">
              <div class="col cursos">Direito</div>
              <a class="col a-curso"> E mais!</a>
            </div>
            <br><br>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12"><img src="../assets/img/01 1.png" class="img-fluid img3" alt="banner"></div>
    </div>
  </div>